[maxscale]
threads=auto
admin_host            = 0.0.0.0
admin_port            = 8989
admin_secure_gui=false
 
[BDD1]
type=server
address=10.10.10.1 
port=3306
protocol=MariaDBBackend

[BDD2]
type=server
address=10.10.10.2 
port=3306
protocol=MariaDBBackend

[BDD3]
type=server
address=10.10.10.3 
port=3306
protocol=MariaDBBackend
 
[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=BDD1,BDD2,BDD3
user=maxscale
password=Maxadmin-69

[Galera-Service]
type=service
router=readwritesplit
servers=BDD1,BDD2,BDD3
user=maxscale
password=Maxadmin-69

[Galera-Listener]
type=listener
service=Galera-Service
protocol=MariaDBClient
port=3306
